/** {border: 1px solid white !important} some of the boxes should stay*/

.rightWrapper
{
	position: relative;
	display: block;
	width: 72em;
	min-height: 300px;
	/*max-height: 300px;
	overflow: hidden;*/
	margin: 0 auto;
	margin-top: 1em;
}
	.rightWrapper .text
	{
		width: 75%;
		position: relative;
		min-height: 300px;
		/*max-height: 300px;*/
		background: black;
		overflow: hidden;
	}
	.rightWrapper img
	{
		width: 35%;
		position: absolute;
		top: 0px;
		right: 0px;	
		height: 295px;
		width: auto;
		margin-left: 80px;
		margin-top: 5px;		
	}

.leftWrapper
{
	position: relative;
	display: block;
	clear: both;
	width: 72em;
	min-height: 300px;
	/*max-height: 300px;
	overflow: hidden;*/
	margin: 0 auto;
	margin-top: 1em;
}
	.leftWrapper .text
	{
		display: inline-block;
		position: relative;
		width: 50%;
		top: 0px;
		right: -10px;
		min-height: 300px;
		/*max-height: 300px;*/
		background: black;
		overflow: hidden;
	}
	.leftWrapper img
	{
		display: inline-block;
		vertical-align: text-top;
		height: 295px;
		width: auto;
		position: relative;
		margin-left: 80px;
		margin-top: 5px;
		margin-bottom: 5px;
	}